[defaults]
filter_plugins = ./filter_plugins
gathering = explicit
host_key_checking = False
interpreter_python = auto_silent
retry_files_enabled = False

[inventory]
enable_plugins = host_list, script, auto, yaml, ini, toml