[Unit]
Description=Wipe and Recreate Guest User on Boot
After=systemd-userdbd.service
Before=gdm.service

[Service]
Type=oneshot
ExecStart=/etc/gdm/PostSession/Default
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target