[Unit]
Description=Set Hostname to Hardware Serial Number
After=network.target
# 🔑 Only run if this flag file does NOT exist
ConditionPathExists=!/etc/.hostname-initialized

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/libexec/setpcname.sh

[Install]
WantedBy=multi-user.target
